Package: aba-blockchain-cli
Version: {{ ABA_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Aba <hello@aba.ooo>
Description: Aba Blockchain
 Aba is a modern cryptocurrency designed to be efficient, decentralized, and secure.
