[Unit]
Description=Aba Crawler Service for %i
Requires=aba-daemon@%i.service
After=aba-daemon@%i.service

[Service]
Type=simple
Environment=ABA_ROOT=/home/%i/.aba/mainnet
ExecStart=/opt/aba/start_crawler
User=%i
Group=%i
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
